SECRET_KEY=qwe

ACCESS_TOKEN_EXPIRE=3600

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USERNAME=info@yandex.ru
EMAIL_PASSWORD=12345

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
